<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
     @Styles.Render("~/Content/css/bootstrapcss")
    @Styles.Render("~/Content/css")
   
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="font-size: 1.85em;" >
   
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container"> 
            <div class="navbar-header">
                
                     @Html.ActionLink("Employee Registration Form", "Index", null, new { @class = "navbar-brand" })
               
            </div>
        </div>
    </div>
    <div class="container body-content" style="padding-top:60px">
         @RenderBody()
    </div>
   
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>

    @Scripts.Render("~/bundles/bootstrapjs")
     <script src="~/Scripts/script.js"></script>
    @RenderSection("scripts", required: false)
    
</body>
</html>
